/* Base page styling */
hr {
  border-top: 1px solid #bbb;
}

body {
  background-image: url("../img/footer_lodyas.png");
}

header {
  background-color: rgba(35, 35, 35, 0.25);
}

header h1, header h3 {
  color: #eee;
  padding: 16px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding-top: 18px;
  }
}

nav {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
}

nav ul {
  display: inline-block;
}

nav a {
  color: #ddd;
  margin: 4px;
}

.container {
  background: #ddd;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}

@media (max-width: 768px) {
  .container {
    margin: 15px;
  }
}

footer {
  text-align: right;
}

.round {
  border-radius: 50%;
}
/* End base page styling */


/* Main page styling */
.floating {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 9999;
}

.floating nav {
  margin-bottom: auto;
}

.floating header h3 {
  margin: 0 auto;
  padding: 0 16px 16px 16px; 
}

.floating header, .floating nav {
  background: rgba(0, 0, 0, 0.75);
  margin: 20px 10px;
  padding: 15px;
  border-radius: 7px;
}

.caption {
  color: #ddd;
  position: absolute;
  font-family: 'Maven Pro', sans-serif;
}

.caption.hidden-xs {
  font-size: 62px;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  bottom: 125px;
  right: 65px;
}

.caption.visible-xs {
  font-size: 46px;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  bottom: 95px;
  right: 25px;
}

.slides-pagination {
  background-color: rgba(255, 255, 255, 0.3);
}

.slides-navigation {
  background-color: rgba(0, 0, 0, 0);
}

.slides-navigation a {
  font-size: 26px;
  text-shadow: 0px 0px 10px rgba(255,255,255,1);
  padding: 0 10px;
}

.slides-navigation a:hover {
  color: #4ac;
  text-decoration: none;
}
/* End Main Page Styling */


/* Product Review Styling */
#reviews img {
  padding: 20px;
}
/* End Product Review Styling */


/* Responsive YouTube Embed */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* End Responsive YouTube Embed */

/* About Me Styling */

#face {
  max-height: 325px;
}

/* End About Me Styling */